@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-raleway: 'Raleway', sans-serif;
  --font-fira: 'Fira Code', monospace;
}

body {
  font-family: var(--font-raleway);
  background-color: #0A1020;
}

